<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <style>
    .email-container {
      background: #f3f4f8;
      min-height: 600px;
      width: 100%;
    }

    .center-box-container {
      width: 100%;
      height: 100%;
    }

    .join-team {
      color: #ffff !important;
      height: 45px;
      width: 230px;
      background: #f79f1a;
      margin: auto;
      text-decoration: unset;
      padding: 14px 16px;
    }
  </style>
  <body style="margin: 0">
    <div class="email-container">
      <div style="padding-top: 20px; text-align: center; margin-bottom: 30px">
        <img style="margin: auto" src="@logoImage" alt="logoImage"/>
      </div>

      <div class="center-box-container">
        <div
          style="
            width: 480px;
            height: 450px;
            padding: 30px;
            margin: auto;
            background: #ffff;
            text-align: center;
          "
        >
          <div
            style="margin-bottom: 30px; text-align: center; padding-top: 30px"
          >
            <img style="width: 180px; height: 151px; object-fit: contain" src="@emailImage" alt="logoImage"/>
          </div>

          <h2>Hey User! @userName</h2>

          <p style="font-size: 13px; color: #6c6c6c">
            Someone has requested a link to change your password. Click the
            button below to reset your password.
          </p>

          <div
            style="width: 420px; height: 1px; margin: 20px 0 30px; opacity: 0.5; background-color: #dadada;"
          ></div>

          <div style="margin-top: 50px" class="center-box-container">
            <a href="@resetPassLink" class="center-box-container join-team"
              >Reset my password</a
            >
            <p
              style="font-size: 13px; color: #6c6c6c; margin: 30px 3px 0; text-align: center;"
            >
              If you did not request it, please ignore this email. You must
              create a new password in the link above to change the password.
            </p>
          </div>
        </div>
      </div>

      <div style="text-align: center; margin-top: 20px; padding-bottom: 40px">
        <p style="color: #6c6c6c; font-size: 12px">
          Copyright &copy; DocSoup 2021, All right reserved.
        </p>
      </div>
    </div>
  </body>
</html>
